:root{
    --green: #D9FE07;
}
::selection {
  background-color:#D9FE07; /* your custom background */
  color: black;              /* your custom text color */
}
.main{
    position: relative;
    height: 100%;
    width: 100%;
}
.main .navbar{
    position: fixed;
    top:0;
    z-index: 99;
    left: 0;
}

.moving-cursor{
    position: fixed;
    left: 0;
    top: 0;
    height: 1rem;
    width: 1rem;
    z-index:8;
    border-radius: 50%;
    background: var(--green);
}
.product-img-cursor{
    height: 40rem;
    width: 30rem;
    /* border-radius: 3rem; */
    position: fixed;
    top: -50%;
    left: 0%;
    background-position: center center;
    opacity: 0;
  background-size: cover;
  transition: 0.05s ease all;
    z-index: 8;
}
.new-card-cursor{
    height: 30rem;
    width: 20rem;
    border-radius: 2rem;
    position: fixed;
    top: -50%;
    left: 0%;
    background-position: center center;
    opacity: 0;
  background-size: cover;
    z-index: 8;
      transition: 0.05s ease all;
}
.email{
    position: fixed;
    top:70%;
    left: -5rem;
    font-size: 1.5rem;
    transform: rotate(-90deg);
    color: black;
    z-index: 99;
}

.work-cursor{
    position: fixed;
    white-space: nowrap;
    display: flex;
    /* background-color: #d9fe0777;
    backdrop-filter: blur(10px); */
    align-items: center;
        overflow-x: hidden;
}

.work-cursor .moving{
    display: inline-block;
    margin-right: .2rem;
    animation: slideFromLeft linear infinite 7s;    
}
.work-cursor h1{
    /* animation: slideFromLeft 3s ease-in-out  infinite; */
    animation-direction:inherit;
    display: inline-block;
}
@keyframes slideFromLeft {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    100%{
     transform: translateX(-100%);
    }
}

/* nav section css start */
nav ul li{
    /* background: #000; */
    margin-bottom: 1px;
    height: 2.5rem;
    width: 100%;
    overflow-y: hidden;
    position: relative;

}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li a{
    display: block;
    position: relative;
    top: 0;
    background-size: cover;
    background-position: center right;
    color:transparent;
    background-color: #ffffff85 !important;
    -webkit-background-clip: text;
        background-size: cover;
        -webkit-text-fill-color: transparent;
    /* backdrop-filter: blur(2rem); */
    /* filter: invert(0.4); */
     transition: ease all 0.5s;
} 

.logo .st002 {
    fill:black
}

nav ul li .overlay-nav{
    opacity: 0;
    position: absolute;
    top: 100%;
    transition: ease all 0.5s;
}
nav ul li a span{
    display: inline-block;
    background: inherit;
}

nav ul li:hover a{
    top:-100%;
}
nav ul li:hover .overlay-nav{
    top:0;
    opacity: 1;
}
nav ul li::before {
  content: '';
  position: absolute;
  left:-100%;
  top: 40%;
  width: 8px;
  height: 8px;  
  background-color: var(--green); /* Change bullet color here */
  border-radius: 50%; /* Make it circular */

}
nav ul li a span {
    display: inline-block;
    
}
nav ul li a{
    font-size: 1.8rem;
    
}

/* nav scrtion css end  */
/* hero section css */
.hero{
        background-image: url('/image/imgi_35_bran-hero1-scaled.jpg');
        width: 100%;
        height: 100%;
        background-size: cover;
        position: relative;
        background-position: center 35%;
        z-index: 1;
}

.hero .hero-text{
    padding: 4rem 0rem 0 6rem;
    /* margin-bottom: 5rem; */
    height: 180vh;

}

.hero .hero-text h1{
    font-size: 18rem;
    line-height: 18rem;
    background-image:url('/image/imgi_35_bran-hero1-scaled.jpg') !important;
    background-size: cover;
    background-position:-100% 35%;
    -webkit-background-clip: text;
    color: transparent;
    filter: invert(2);

}

.hero .hero-text .overlay-hero-text{
    width: 100%;
    height: 18rem;
    overflow-y: hidden;
}
.hero .hero-text .overlay-hero-text h1 span{
    background:inherit;
    /* background-position-x: -10%; */
}

.hero .hero-text .overlay-hero-text h1 span:nth-child(1){
    background-position:-100% 35%;
}
.hero .hero-text .overlay-hero-text h1 span:nth-child(2){
    background-position:-100% 20%;
}
.hero .hero-text .overlay-hero-text h1 span:nth-child(3){
        background-position:-100% 45%;
}
.hero .hero-text .overlay-hero-text h1 span:nth-child(4){
        background-position:-100% 50%;
}

.hero-text .overlay-hero-text h1 span{
    display: inline-block;
}


/* section second css */

.second-section{
    background-color: black;
    height: 100%;
    /* border-top-left-radius:5rem;
    border-top-right-radius:5rem; */
    width: 100%;
    position: relative;
}
.second-section .second-text{
    padding-left: 6rem;
    padding-top: 14rem;
    color: white;
    padding-bottom: 3rem;
}

.second-section .second-text span{
    color: var(--green);
    margin-bottom: 1rem;
    display: inline-block;
    font-size: 1.5rem;
}

.second-section .second-text h1{
    font-size: 4rem !important;
    color: white;
    text-align:left;
    line-height: 5rem !important;
    font-weight: 300;
    width: 85%;
}

.second-section .second-text h1 span{
    display: inline-block;
    color:white;
    font-size: inherit;
}


.button{
    /* display: inline-block; */
    background: white;
    position: relative;
    /* opacity: 1; */
    color:black;
    font-weight: 500;
    margin-top: 2rem;
    padding: 1rem 4rem 1rem 2rem;
    border-radius: 3rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
        transition: ease all 0.5s;
}

.button span{
    display: inline-block;
    transform: scale(0);
    color:black;
    position: absolute;
    right: 10%;
    top:20%;
}
.button::after{
    transition: ease all 0.5s;
    content: "";
    position: absolute;
    z-index: -1;
    right: 10%;
    top:35%;
    height:1rem;
    width: 1rem;
    border-radius: 40%;
    background: var(--green);
}

.button:hover::after{
        transform: scale(40);
}
.button:hover span{
    transform: scale(1.02);
}

.button:hover{
    transform: scale(1.05);
    padding: 1rem 4.5rem 1rem 2.5rem;
}


.button-green{
    background: #000;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 2rem;
    color: rgba(137, 43, 226, 0.315);
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: ease all 0.5s;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.button-green:hover{
    color:white;
}
.button-green span{
    opacity: 1;
    height: 30px;
    width:30px;
    background: red;
    color: white;
    transform: scale(1);
    display: inline-block;
    
}

.button-green span i{
    font-size: 4rem;
}



.feature h1{
    line-height: 10rem;
}

.feature h1 span{
    display: inline-block;
}
.word-card{
    position: relative;
}
.word-card .overflow-img-work{
    position: absolute;
    z-index: 9;
    background:transparent;
    width:100%;
    height: 100%;
}

.product-card-slide{
    position: relative;
}
.product-card-slide .overlay-product-card,.overlay-card-news{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height:100%;
    z-index: 9;
}

.product-card-slide h1{
    text-transform: capitalize;
    font-weight:600;
}


/* news section css */
.news{
    width:100%;
    position: relative;
}
.news-card{
    position: relative;
}
.news-card .overlay-card-news{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 9;
}


@media (max-width: 400px) {
    html{
        font-size: 39%;
    }
    .moving-cursor{
        display: none;
        opacity: 0;
    }

    .hero .hero-text{
        height: 80vh;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .hero .hero-text{
        padding: 8rem 0rem 0rem 2rem;
    }
    .hero .hero-text .overlay-hero-text{
    width: 100%;
    height: 13rem;
    /* height: 100%; */
    }
    .hero .hero-text .overlay-hero-text h1{
        font-size: 9rem;
        line-height: 12rem;
    }

    .second-section .second-text h1 {
        font-size: 2.5rem;
        line-height: 2.5rem;
        width: 100%;
    }
    .second-section .second-text span{
        font-size: 2rem;
    }
    .second-section .second-text{
    padding:8rem 3rem 3rem 4rem;
    /* padding-top: 14rem; */
    }

    .heading-animtion-text{
        font-size: 3rem;
    }
}
