@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');




*{
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

:root{
    --green: #D9FE07;
}

body{
    position: relative;
    width: 100%;
}
.navbar{
    position: fixed;
    background: red;
    top:0;
    width: 100%;
    /* z-index: 99; */
}
nav ul li{
    font-size: 1.5rem;
    line-height: 0.9rem;
    text-transform: capitalize;
    position: relative;
    cursor: pointer;
}

nav ul li:hover::before {
  content: '';
  position: absolute;
  left:-1.5rem;
  top: 40%;
  width: 8px;
  height: 8px;  
  background-color: var(--green); /* Change bullet color here */
  border-radius: 50%; /* Make it circular */

}
nav ul li a{
    color: black;
    display: inline-block;
}
nav ul li a span{
    background-image: url('image/imgi_35_bran-hero1-scaled.jpg');
    -webkit-background-clip: text;
    color:transparent;
    filter: invert(1.3);
    background-position: 60% 60%;
    background-size: cover;

    display: inline-block;
}

nav ul li{
    width: 10rem;
    padding-top: .5rem;
    height: 3rem;
    /* background: red; */
    /* overflow: hidden; */
}



/* --------------------------hero section css------------- */
.hero{
    background-image: url('image/imgi_35_bran-hero1-scaled.jpg');
    background-position:30% 25%;
    /* background-origin: content-box; */
    background-size: cover;
    width: 100%;
    height: 200vh;
    /* left: 0;
    top:0; */
    /* z-index: 1; */
}



.hero-text{
    position: relative;
    height: 100%;
    width: 100%;
    padding-left: 4rem;
}
.hero-text h1{
    background-image: url('image/imgi_35_bran-hero1-scaled.jpg');
    font-size: 16rem;
    line-height: 19rem;
    font-weight: 500;
    background-clip: transparent;
    -webkit-background-clip: text;
    filter: invert(1.3);
    background-size: cover;
    color:transparent;
}

.overflow-container-hero{
    width: 100%;
    height: 19rem;
    /* overflow: hidden; */
}

.overflow-container-hero h1 span{
    display:inline-block;
}



.section-2-black{
    /* background: #000; */
    width:100%;
    /* height: 100vh; */
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.blank-section{
    height: 100vh;
    width: 100%;
    z-index: 8;
    position: fixed;
    
    /* background: transparent; */
}